*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color:rgb(23, 23, 23); 
    color: aqua;        
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:gray   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
                                                                        
}

.logo{
    font-size: 25px;
    color: aqua;
    text-decoration: none;
    font-weight: 600;

}

.navbar a {
font-size: 18px;
color: aqua;
text-decoration: none;
font-weight: 500;
margin-left: 50px;
transition: .3s;
}

.navbar a:hover,
.navbar a.active{
color: white;
}

.home-icons {
    position: absolute;
    bottom: 300px;
    right: 550px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}   

.home-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 70px;
    background: transparent;    
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 40px;
    color: aqua;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;   
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: .5s;
}

.home-icons a:hover::before {
    width: 100%;
}

.MG{
    position: absolute;
    height:560px;
    bottom: 0px;

   right: 100px;
}   

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 40%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 130px;
    left: 25px;

}

.home-content{
    max-width: 400px;
}
.home-content h1 {
font-size: 56px;
font-weight: 700;
line-height: 1.2;
}   

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.a{
    font-size: 25px;

}

